uninstall pillow
install 'pillow>=8.3.2,<10.1.0' #for imageio 2.31.6
deeplake==3.9.1
openai==0.28.1 # upgraded from 0.27.8 for generation
tiktoken==0.4.0
transformers==4.32.0
torch==2.2.1  # Upgraded to match dependencies
numpy>=1.24.1  # Upgraded to satisfy chex
deepspeed==0.10.1
trl==0.7.1
peft==0.5.0
wandb==0.15.8
bitsandbytes==0.41.1
accelerate==0.22.0
tqdm==4.66.1
neural_compressor==2.2.1
onnx==1.14.1
pandas==2.0.3
scipy==1.11.2
beautifulsoup4==4.12.3
requests==2.31.0
